@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-Regular.ttf)
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

a {
    color: #9D9815;
    font-weight: 400;
}

body {
    background-color: #f9f4ef;
}

header {
    width: 100%;
    height: 70px;
}

header .header-text {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 24px;
    font-size: 18px;
    color: #181818;
}

header h1 {
    /* width: 167px;
    height: 24px; */
}

header section {
    align-items: center;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    height: 100%;
    width: 1240px;
}

header section nav .active {
    color: #9D9815;
}

header section nav a {
    margin: 5px;
}

main {
    margin: 0px auto;
    width: 1240px;
}

main .image-container {
    width: 100%;
    position: relative;
    max-height: 400px;
}

main .image-container img {
    width: 100%;
    height: 400px;
    opacity: .90;
    border-radius: 15px;
    user-select: none;
}


main .about-me>article {
    display: flex;
    margin: 20px;
}

main .about-me>article .studies-container,
.tech-skills-container,
.soft-skills-container,
.cv-container {
    padding: 10px;
}

main .about-me>article .soft-skills-container ul {
    padding-left: 50px;
    ;
}

main .about-me>article .cv-container button {
    animation: all 100ms ease-in;
    border: none;
    border-radius: 5px;
    background-color: #343434;
    margin: 20px 0px;
    height: 46px;
    width: 271px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .about-me>article .cv-container button:active {
    transform: scale(.95);
}

main .about-me>article .cv-container button span {
    color: #fffe;

}

main .about-me .about-me-section {
    width: 50%;
}

main .about-me .about-me-section .image-ambient {
    width: 100%;
}

main h2 {
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
}

main h3 {
    font-family: 'Inter';
    font-weight: 400;
    margin-bottom: 20px;
}

main p,
span,
li,
button {
    font-family: 'Inter';
    color: #181818;
    list-style-type: square;
    font-weight: 200;
}

.download-arrow {
    color: red;

}

/*
    PROYECTS SECTION
*/

main .about-me,
.proyects,
.news {
    margin: 0px auto;
    margin-top: 40px;
    width: 1048px;
    font-size: 20px;
    margin-bottom: 100px;
}
.news {
    width: 800px;
}
main .proyects .banner-container {
    margin: 20px 0px;
    height: 257px;
    width: 1048px;
    position: relative;
}

main .proyects .banner-container .atoyl-link {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 271px;
    height: 46px;
    border-radius: 5px;
    background-color: #343433;
    color: #fffe;
    border: none;
}

/*
    NEWS SECTION
*/

.pending {
    margin: 100px 0px;
    text-align: center;
}

.banner-container {
    position: relative;
    /* width: 100%;
    height: 400px;
    margin: 20px 0px; */
}

.image-container {
    width: 100%;
    height: 100%;
}

.post-data-container {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-size: 20px;
    padding: 0px 0px 20px 40px;
}

.post-data {
    color: #fffe;
}

.post-image {
    object-fit: cover;
}

.author-name {
    display: block;
    padding-top: 15px;
    font-size: 15px;
}

.title {
    display: block;
    margin-bottom: 10px;
}

/*
    CONTACT SECTION
*/

main .contact .contact-item {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin: 80px 0px;
    font-size: 20px;
}

main .contact .contact-item img {
    width: 210px;
    height: 212px;
}

/*
    FOOTER
*/
footer {
    height: 158px;
    width: 100%;
    background-color: #262626;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}

footer p,
a {
    font-size: 16px;
}

footer a,
p {
    color: #fffe;
    margin: 10px 0px;
    font-family: 'Inter';
    font-weight: 200;
}

div nav {
    display: flex;
    flex-direction: column;
}

footer .copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    margin: 20px;
}

footer .copyright p {
    color: #fffe;
}

/*

    CONTACT PAGE

*/

.main-content {
    width: 1240px;
    height: calc(100vh - 228px);
    margin: 0px auto;
    display: flex;
}

.form-container {
    width: 100%;
    height: 100%;
    padding: 100px 50px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
}

.form-input {
    background: #D9D9D9;
    border: none;
    padding-left: 20px;
    height: 42px;
    width: 429px;
    margin: 20px 0px;
}

.text-area {
    background: #D9D9D9;
    border: none;
    padding: 20px;
    height: 169px;
    width: 429px;
    resize: vertical;
    margin: 20px 0px;
    font-family: 'Inter';
}

.form-submit {
    width: 160px;
    height: 43px;
    left: 174px;
    top: 689px;
    color: #FFFFFF;
    background: #343434;
}

.more-ways-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon-sn {
    display: block;
    margin: 10px;
}

.social-networks {
    display: flex;
    flex-direction: column;
}

.alert {
    margin-top: 20px;
    height: 75px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 429px;
    font-family: 'Inter';
    display: none;
}

.alert-failed {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/*

    PROYECTS PAGE

*/


.main-proyects {
    width: 1250px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.proyect {
    min-height: 400px;
    width: 591px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 30px;
}

.proyect-image-container {
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyect-image {
    width: 70px;
    height: 70px;
}
.proyect-description {
    padding: 20px;
    color: #434343;
    font-family: 'Inter';
}

.proyect-description p {
    color: #434343;
}


.buttons-container {
    display: flex;
    margin-top: 30px;
}

.btn {
    transition: transform 200ms ease;
    border: none;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.btn:active {
    transform: scale(.8);
}

.go-to-site-btn {
    background-color: #343433;
    color: #fffe;
    margin-right: 20px;
}

.go-to-github-btn {
    background: transparent;
}

.go-to-github-btn>span {
    text-decoration: underline;
}

/*  loader */

.loader {
    border: 8px solid gray;
    /* Light grey */
    border-top: 8px solid #252525;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}