*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border-radius: 10px;
}
form h2 {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #242424;
    border-radius: 10px;
    margin-bottom: 50px;
}
form .formcontainer {
    padding: 20px;
    width: 500px;
    display: grid;
    grid-template-columns: 20% 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form input[type="text"], input[type="password"]
{
    padding: 10px;
    width: 300px;
}

form input[type="submit"] {
    transition: all 0.2s ease-in-out;
    padding: 8px 30px;
    background-color: #242424;
    color: #fffe;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
}

form input[type="submit"]:active {
    transform: scale(.8); 
}


.alert {
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    color: #ea868f;
    background-color: #f8d7da;
    border-color: #b02a37;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  loader */

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid gray;
    /* Light grey */
    border-top: 8px solid #252525;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}